<h2><%= link_to "Agents", admin_agents_path %> | <%= link_to "Users", admin_ticket_holders_path %></h2>
<%= link_to "New Agent", new_admin_agent_path %>

<table class="zebra-striped" id="sortTableExample">
    <thead>
        <tr>
            <th>Avatar</th>
            <th>Name</th>
            <th>Email</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
			<% for admin in @admins %>
        <tr>
            <td><%= link_to(image_tag(admin.avatar.url), edit_admin_agent_path(admin)) %></td>
            <td><%= link_to admin.name, edit_admin_agent_path(admin) %></td>
            <td><%= admin.email %></td>
            <td><%= link_to "[X]", admin_agent_path(admin), :method => :delete %></td>
        </tr>
			<% end %>
    </tbody>
</table>

<%= will_paginate @admins %>
