<h2><%= link_to "Agents", admin_agents_path %> | <%= link_to "Users", admin_ticket_holders_path %></h2>
<%= link_to "New User", new_admin_ticket_holder_path %>

<table class="zebra-striped" id="sortTableExample">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
			<% for ticket_holder in @ticket_holders %>
        <tr>
            <td><%= link_to ticket_holder.name, edit_admin_ticket_holder_path(ticket_holder) %></td>
            <td><%= ticket_holder.email %></td>
            <td><%= link_to "[X]", admin_ticket_holder_path(ticket_holder), :method => :delete %></td>
        </tr>
			<% end %>
    </tbody>
</table>

<%= will_paginate @ticket_holders %>
