<!DOCTYPE html>
<html>
<head>
  <title>SimpleSupport</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h1>Admin</h1>

<div class="right">logged in as <%= current_admin.email %> | <%= link_to "logout", destroy_admin_session_path %></div>
<nav>
	<ul>
		<li>
			<%= link_to "Queues", admin_discussions_path %>
			<%= form_for :queue, :html => {:id => :switchQueue, :method => :get } do |f| %>
				<%= f.select :id, current_account.buckets.map{ |b| [b.name, b.id] }.unshift(["All", 0]), :selected => (params[:queue] && params[:queue][:id]) %>
			<% end %>
		</li>
		<li><%= link_to "Knowledge Base", "#" %></li>
		<li><%= link_to "Agents", admin_agents_path %></li>
		<li><%= link_to "Account", "#" %></li>
	</ul>
</nav>

<%= yield %>

</body>
</html>
