<table class="zebra-striped" id="sortTableExample">
    <thead>
        <tr>
            <th><input type="checkbox" name="optionsCheckboxes" value="option1"></th>
            <th>Date</th>
            <th>ID</th>
            <th>User</th>
            <th>Title</th>
						<th>Action</th>
        </tr>
    </thead>
    <tbody>
			<% for discussion in @discussions %>
        <tr>
            <td><input type="checkbox" name="optionsCheckboxes" value="option1"></td>
            <td><%= discussion.created_at %></td>
            <td><%= link_to discussion.id, [:admin, discussion] %></td>
            <td><%= link_to discussion.user.email, edit_admin_ticket_holder_path(discussion.user) %></td>
            <td><%= link_to discussion.title, [:admin, discussion] %></td>
						<td>
							<%= toggle_action("Close", "Open", discussion, :resolved) %>
							<%= toggle_action("Important", "Not Important", discussion, :important) %>
							<%= button_to("Delete", [:admin, discussion], :method => :delete) %>
						</td>
        </tr>
			<% end %>
    </tbody>
</table>